.Navigation {
    position: fixed;
    width: 100%;
    margin-top: -75px;
}
.Navigation a{
    text-decoration: none;
    padding: 10px;
    color: #fff;
}
.Navigation .float{
  margin-left: auto;
  /* margin-right: 50px; */
}